
header{
  font-size: 9em;
  color: rgb();
  text-align: center;
  background-color: rgb(57, 59, 175);
  padding: 10px;
  border: 17px dotted red;
  margin: 20px;
}

h1 {
  font-size: 3em;
  color: rebeccapurple;
}

html{
  background-color: lightgrey;
  background-image: url('seattle-travel.adapt.1900.1.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-blend-mode:overlay;
}

ul{
  display:block;
  list-style-type: circle;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 65px;
}

p{
  color: lightblue;
  text-align: center;
}