
header{
  font-size: 3em;
  color: rgb();
  text-align: center;
  background-color: rgba(144, 145, 233, 0.418);
  padding: 10px;
  border: 17px dotted red;
  margin: 20px;
}

h1 {
  font-size: 3em;
  color: rgb(207, 96, 218);
  font-family: "Times New Roman", Times, serif;
}
#education {
  font-size: 3em;
  text-align: right;
  color: rgb(207, 96, 218);
  font-family: "Times New Roman", Times, serif;
}

div > ul{
  text-align: right;
  font-weight: 200;
  color: chartreuse;
}

#top{
  font-size: 3em;
  text-align: right;
  color: rgb(207, 96, 218);
  font-family: "Times New Roman", Times, serif;

}

div > ul{
  color: chartreuse;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 74px;
  text-align: right;
}
html{
  background-color: rgb(101, 121, 113);
  background-image: url('seattle-travel.adapt.1900.1.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-blend-mode:overlay;
}

ul{
  color: lightblue;
  display:block;
  list-style-type: circle;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 74px;
}
ol {
  color: lightblue;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 74px;
}

p{
  color: lightblue;
  text-align: center;
}

footer{
  color: lightblue;
}
a:-webkit-any-link {
  color: lightblue;
  cursor: pointer;
  text-decoration: underline;
}